{% extends "boilerplate.html" %}


{% block wrap %}
<div class="form-wrap">
  <h1>Blog Sign In/Sign Up</h1>
  <div class="login">
    <h3>Login</h3>
    <form method="post" action="/login">
      <label> 
        <input type=text name="login_username" placeholder="username"
        value={{login_username}}>
      </label>
      <input type="hidden" name="entered_login_username" value={{entered_login_username}}>
      <label>
        <input type=password name="login_password" placeholder="password">
      </label>
      <input type="submit">
    </form>
    <div>
      <p>{{err_msg1}}</p>
      <input type="hidden" name="err_msg1" value={{err_msg1}}>
    </div>
  </div>
  <div class="signup">
    <h3>Sign Up</h3>
    <form method="post" action="/signup">
      <label> 
        <input type=text name="signup_username" placeholder="username" 
        value={{signup_username}}>
      </label>
      <input type="hidden" name="entered_signup_username" value={{entered_signup_username}}>
      <label>
        <input type=password name="signup_password" placeholder="password">
      </label>
      <label>
        <input type=password name="signup_password_confirm" placeholder="re-type password">
      </label>
      <input type="submit">
      <div>
        <p>{{err_msg2}}</p>
      <input type="hidden" name="err_msg1" value={{err_msg2}}>
      </div>
    </form>
  </div>
</div>
{% endblock %}
